<div class="bg">
  <div class="contenedor">
    <mat-card class="card carta-formulario">
      <mat-card-title class="card-header text-center">
        Crear anuncio
      </mat-card-title>
      <mat-card-content class="card-body text-center">
        <!-- nombre -->
        <form [formGroup]="productForm" (ngSubmit)="venderProducto()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input 
              matInput 
              placeholder="Nombre del producto"
              type="text"
              formControlName="nombre"
              required
            />
            <mat-error *ngIf="isValidField('nombre')">
              <p>Ingrese un nombre valido...</p>
            </mat-error>
          </mat-form-field>

          <!-- descripcion -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descripcion</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
            <mat-error *ngIf="isValidField('descripcion')">
              <p>Ingrese una descripcion</p>
            </mat-error>
          </mat-form-field>

          <!-- palabras clave -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Palabras clave</mat-label>
            <textarea matInput formControlName="pclaves"></textarea>
            <mat-hint align="start">Ingrese palabras clave separadas por coma</mat-hint>
            <mat-error *ngIf="isValidField('pclaves')">
              <p>Solo se aceptan comas para separar las palabras</p>
            </mat-error>
          </mat-form-field>

          <!-- precio -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Precio</mat-label>
            <input 
              matInput 
              placeholder="Precio del producto"
              type="number"
              formControlName="precio"
              required
            />
            <mat-icon matPrefix>attach_money</mat-icon>
            <mat-error *ngIf="isValidField('precio')">
              <p>Ingrese un precio valido...</p>
            </mat-error>
          </mat-form-field>

          <!-- cantidad -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Cantidad</mat-label>
            <input 
              matInput 
              placeholder="Cantidad de productos"
              type="number"
              formControlName="cantidad"
              required
              min="1"
            />
            <mat-icon matPrefix>attach_money</mat-icon>
            <mat-error *ngIf="isValidField('cantidad')">
              <p>Ingrese una cantidad mayor a 0</p>
            </mat-error>
          </mat-form-field>

          <!-- categoria -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Selecciona la categoria del producto</mat-label>
            <mat-select formControlName="categoria">
              <mat-option *ngFor="let cat of Cats" [value]="cat.id">
                {{cat.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="isValidField('categoria')">
              <p>Selecciona una categoria</p>
            </mat-error>
          </mat-form-field>

          <!-- imagen -->
          <div class="custom-file campo-registro spacer">
            <input 
              type="file" 
              class="custom-file-input" 
              name="image"
              id="validatedCustomFile" 
              formControlName="picture"
              accept="image/*"
              (change) = "handleUpload($event)"
            />
            <label class="custom-file-label" for="validatedCustomFile">Sube la foto de tu producto...</label>
            <div class="invalid-feedback">Archivo no valido</div>
            <mat-error *ngIf="isValidField('picture')">
              <p>Selecciona una imagen valida</p>
            </mat-error>
          </div>
          <button
          [disabled]="productForm.invalid" 
          type="submit" 
          mat-raised-button 
          color="primary" 
          class="btn">Vender Producto</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
