.spacer {
  flex: 1 1 auto;
}

a{
  text-decoration: none;
}

.header-text{
  color:white;
}

.header-text:hover {
  color: #FFCC00
}

.image{
  /* background-image: url('../../../../assets/backgrounds/index-bg.jpg'); */
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .header-text{
    visibility: hidden;
    width: 2px;
  }  
}