<mat-toolbar color="primary">
  <ng-container *ngIf="isAdmin === '1'">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>

    <a [routerLink]="''" class="header-text">GTSales Marketplace</a>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="isAdmin === '1'">
      <mat-icon matBadge="2" matBadgeColor="warn">comment_bank</mat-icon>
    </button>
    
    <a *ngIf="isAdmin === '1'" mat-button [routerLink]="'/admin'">Admin</a>
    <a *ngIf="!isLogged; else viewLogout" mat-button [routerLink]="'/login'">Login</a>
</mat-toolbar>

<ng-template #viewLogout>
  <button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn">chat_bubble_outline</mat-icon>
  </button>
  
  <button 
    mat-icon-button 
    color="accent" 
    class="image" 
    [style.backgroundImage]="'url(' + profilePicture + ')'"
    [routerLink]="'/profile'"
  ></button>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/sell'">
      <mat-icon>add_box</mat-icon>
      Vender
    </button>

    <button mat-menu-item [routerLink]="'/profile'">
      <mat-icon>account_box</mat-icon>
      Perfil
    </button>

    <button mat-menu-item (click)="onLogout()">
      <mat-icon>cancel</mat-icon>
      Logout
    </button>
  </mat-menu>
</ng-template>
