<div class="profile-container bg">

  <mat-card class="card-info">
    <mat-card-title>
      Informacion
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="profileInfo">
        <mat-form-field appearance="fill" class="full-width">             
          <input
            matInput
            placeholder="Email"
            type="text"
            formControlName="email"
            readonly
          />
          <mat-hint>Correo</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">             
          <input
            matInput
            placeholder="Name"
            type="text"
            formControlName="name"
          />
          <mat-hint>Name</mat-hint>
          <mat-error *ngIf="isValidProfileInfo('name')">
            <p>Ingrese un nombre valido...</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">             
          <input
            matInput
            placeholder="Lastname"
            type="text"
            formControlName="lastname"
          />
          <mat-hint>Apellido</mat-hint>
          <mat-error *ngIf="isValidProfileInfo('lastname')">
            <p>Ingrese un apellido valido...</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">             
          <mat-label>Selecciona tu pais</mat-label>
          <mat-select formControlName="country">
            <mat-option>test</mat-option>
          </mat-select>
          <mat-hint>Pais</mat-hint>
          <mat-error *ngIf="isValidProfileInfo('country')">
            <p>Seleccione un pais...</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width separator">             
          <mat-label>Fecha de nacimiento</mat-label>
          <input 
            matInput 
            [matDatepicker]="picker"
            formControlName="date"
            required
          />
          <mat-hint>Fecha de nacimiento</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="isValidProfileInfo('date')">
            <p>Seleccione una fecha...</p>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" class="full-width">Actualizar</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-pass">
    <mat-card-title>
      Contraseña
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="profilePass">
        <mat-form-field appearance="fill" class="full-width">             
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="pass"
            readonly
          />
          <mat-hint>Contraseña</mat-hint>
          <mat-error *ngIf="isValidProfilePass('pass')">
            <p>Ingrese una contraseña valida</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">             
          <input
            matInput
            placeholder="New Password"
            [type] = "hide1 ? 'password':'text'"
            formControlName="pass1"
          />
          <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1">
            <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-hint>Nueva contraseña</mat-hint>
          <mat-error *ngIf="isValidProfilePass('pass1')">
            <p>Ingrese una contraseña valida</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width separator">             
          <input
            matInput
            placeholder="Password Verification"
            [type] = "hide2 ? 'password':'text'"
            formControlName="pass2"
          />
          <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2">
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-hint>Verificacion de contraseña</mat-hint>
          <mat-error *ngIf="isValidProfilePass('pass2')">
            <p>Las constraseñas no coinciden</p>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" class="full-width">Actualizar</button>
      </form>
    </mat-card-content>
  </mat-card>

    
  <mat-card class="card-img">
    <mat-card-content>
      <img src="" alt="profile picture" class="profile-pic"/>
      <form [formGroup]="profilePic"> 
        <div class="custom-file full-width separator">
          <input 
            type="file" 
            class="custom-file-input" 
            name="picture"
            id="validatedCustomFile" 
            formControlName="picture"
            accept="image/*"
          />
          <label class="custom-file-label" for="validatedCustomFile">Sube tu foto de perfil...</label>
          <div class="invalid-feedback">Archivo no valido</div>
          <mat-error *ngIf="isValidProfilePic('picture')">
            <p>Selecciona una imagen de perfil valida</p>
          </mat-error>
        </div>
        <button mat-raised-button type="submit" color="primary" class="full-width">Actualizar</button>
      </form>
      
    </mat-card-content>
  </mat-card>
</div>