<div class="bg">
  <div class="contenedor">
    <mat-card class="card tarjeta">
      <mat-card-content class="card-body text-center">
        <mat-tab-group>
          <mat-tab label="Denuncias">Denuncias</mat-tab>
          <mat-tab label="Categorias">
            <mat-card>
              <mat-card-title>
                Lista de Categorias
              </mat-card-title>
              <mat-card-content>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-title>
                Crear Categoria
              </mat-card-title>
              <mat-card-content>
                <form [formGroup]="categoryForm" (ngSubmit)="nuevaCategoria()">
                  <mat-form-field appearance="outline" class="campo-form"> 
                    <mat-label>Nombre</mat-label>
                    <input 
                      matInput 
                      placeholder="Ingresa tu nombre"
                      type="text"
                      formControlName="nombre"
                      required
                    />
                    <mat-error *ngIf="isValidField('nombre')">
                      <p>Ingrese un nombre...</p>
                    </mat-error>
                  </mat-form-field>
                  <button
                    [disabled]="categoryForm.invalid" 
                    type="submit" 
                    mat-raised-button 
                    color="primary" 
                    class="btn">Crear</button>
                </form>
              </mat-card-content>
            </mat-card>
          </mat-tab>
          <mat-tab label="Reportes">Reportes</mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

